@import "tailwindcss";

/* Custom Scrollbar for Sidebar */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #f7b05e;
  border-radius: 10px;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e09b4d;
}
.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #f7b05e transparent;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-statement, #printable-statement * {
    visibility: visible;
  }
  #printable-statement {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
